.form-label {
    text-align: center;
    width: 100%;
    font-size: 30;
    font-weight: bold;
}
#donation-amount {
    font-size: 50;
    text-align: center;
    font-weight: bold;
    color: Green;
}
#cause-select {
    text-align: center;
    border-width: 2;
    margin: 5;
    padding: 5;
}
.big-yellow-btns {
    font-size: 40;
    font-weight: bold;
    height: 120;
}