.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

Button {
    font-size: 15;
    horizontal-align: center;
}

.big-yellow-btns {
    width: 100%;
    background-color: #333;
    color: #ffd234;
    height: 80;
    border-width: 2;
    font-size:22;
    border-color: #ffd234;
}

nrm-btn {
    background-color: #ccc;
    color: #333;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
    margin: 0 20;
    text-align: center;
}
