Label {
    padding: 5;
}
TextField {
     margin: 5;
    padding: 5;
    font-size: 20;
    border-width: 1;
}
.home-phone {
    text-align: center;
    color: #5a9cff;
    font-size: 24;
    font-weight: bold;
    padding: 10;
}