<Page xmlns="http://schemas.nativescript.org/tns.xsd" loaded="loaded">
    <StackLayout>
        <GridLayout rows="80,60,*,80">
            <Image src="~/imgs/logo.jpg" row="0" />
            <Label row="1" text="Click the pencil to set reminder" horizontalAlignment="center" color="#333" />
            <ListView id="mainList" row="2" height="100%" items="{{ postList }}">
                <ListView.itemTemplate>
                    <StackLayout class="stack-holder">
                        <GridLayout columns="*,40">
                            <StackLayout id="{{ thelink }}" class="event-item" tap="goLink" col="0">
                                <Label class="post-title" text="{{ postName }}" textWrap="true" horizontalAlignment="left" />
                                <Label class="event-date" text="{{ theDate }}" textWrap="true" horizontalAlignment="left" />
                                <Label class="view-article" text="View Details" textWrap="true" horizontalAlignment="left" />
                            </StackLayout>
                            <Image src="{{ regImg }} " width="40" col="3" tap="regIt" />
                        </GridLayout>
                        <Label class="hr2" />
                    </StackLayout>
                </ListView.itemTemplate>
                <Label class="hr2" />
            </ListView>
            <GridLayout row="3" columns="*,*" backgroundColor="#acdcff">
                <Button col="0" class="btn btn-primary" text="Donate" tap="goDonate" />
                <Button col="1" class="btn btn-primary" text="History" tap="goHistory" />
            </GridLayout>
        </GridLayout>
    </StackLayout>
</Page>
